@charset "utf-8";
@import "bootstrap";

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
    //background-color: red;
}

.canvas_wrap {
    width: 100%;
    height: 100%;
}

#main_canvas {

}